body {
    font-family: 'Pangolin', cursive;
    background-image: url("../images/memphis-colorful/memphis-colorful.png");
}

/* header */
#header, #footer{
    background: lightblue;
    text-align: center;
}

/* start game */

/* main game */
.card {
    border: lightblue .2em solid;
}

.card h5 {
    text-align: center;
}

.card button {
    width: 100%;
}

.my_choice{
    background-color: lightblue;
    border: #ffffff solid 1px;
}


/* message box */
#dialogue {
    width: 100%;
    height: 10em;
    background: #ffffff;
    border: lightblue .25em solid;
    overflow: auto;
}

#my_message, #player_name {
    width: 100%;
    margin: .5em 0;
    border: lightblue .25em solid;
}

/* footer */
#footer {
    margin: 1em 0;
}